* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #242524;
}

h3, li, #btn{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: Center;
  padding: 30px 10%;
}

#top-info {
  cursor: pointer;
}

.top-info {
  list-style: none;
}

.top-info li {
  display: inline-block;
  padding: 0px 20px;
}